<!DOCTYPE html>
<html>
<head>
	<title>小程序</title>
	<meta charset="utf-8">
	<style type="text/css">
		*{margin:0;padding:0;}
		body{overflow-x:hidden;}
		#content{width:310px;float:left;padding-bottom:45px;}
		#footer{position:fixed;bottom:-5px;}
	</style>
</head>
<body>
	<div id="content">
		<div><img src="__PUBLIC__/images/xcx_01.jpg"></div>
		<div><img src="__PUBLIC__/images/xcx_02.jpg"></div>
		<div><img src="__PUBLIC__/images/xcx_03.jpg"></div>
	</div>

	<div id="footer">
		<img src="__PUBLIC__/images/xcx_04.jpg">
	</div>
</body>
</html>