<!DOCTYPE html>
<html>
<head>
	<title>电商运营</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/marketing.css">
</head>
<body>
	<include file="./Application/Home/View/head.html" />

	<!-- 电商运营banner图内容开始 -->
	<div id="banner6">
		<div class="banner6_img"></div>
	</div>
	<!-- 电商运营banner图内容结束 -->

	<!-- 电商运营第一栏内容开始 -->
	<div id="marketing_column">
		<div class="marketing_column_content">

			<div class="marketing_column_left">

				<div class="marketing_column_left1"><img src="__PUBLIC__/images/shiyang.jpg"></div>

				<div class="marketing_column_left2"><img src="__PUBLIC__/images/operate.jpg">&nbsp;<img src="__PUBLIC__/images/china_font.jpg"></div>

				<div class="marketing_column_left3">电子商务，一切皆简单&nbsp;&nbsp;<img src="__PUBLIC__/images/borde.jpg"></div>

				<div class="marketing_column_left4">E-COMMERCE,EVERYTHING IS SIMPLE.</div>

			</div>


			<div class="marketing_column_right">
				<div class="marketing_column_right1"><img src="__PUBLIC__/images/about5.jpg"></div>
				<div class="marketing_column_right2"><img src="__PUBLIC__/images/online_one1.jpg" width="459" height="160"></div>
				<div class="marketing_column_right3"></div>
			</div>
		</div>
	</div>
	<!-- 电商运营第一栏内容结束 -->

	<!-- 电商运营第二栏内容开始 -->
	<div id="marketing_column1">
		<div class="marketing_column_content">

			<div class="marketing_column_content1">
				<div class="marketing_column_content2"><img src="__PUBLIC__/images/online_two1.jpg" width="302" height="150"></div>

				<div class="marketing_column_content3">
					<div class="marketing_column_content4">
						<span>金管家服务</span>
						<span>全面打理你的品牌店铺</span>
						<span class="marketing_column_content7"><img src="__PUBLIC__/images/duobianxin.png"></span>
					</div>
				</div>

				<div class="marketing_column_content5">全店托管</div>
				<div class="marketing_column_content6">快速提升营业额</div>
			</div>



			<div class="marketing_column_content1">
				<div class="marketing_column_content2"><img src="__PUBLIC__/images/online_two2.jpg" width="302" height="150"></div>
				<div class="marketing_column_content3">
					<div class="marketing_column_content4">
						<span>把握精准人群</span>
						<span>提高点击率</span>
						<span>跃升转化率</span>
						<span><img src="__PUBLIC__/images/duobianxin.png"></span>
					</div>
				</div>
				<div class="marketing_column_content5">直通车</div>
				<div class="marketing_column_content6">提高投入产出品</div>
			</div>


			<div class="marketing_column_content1">
				<div class="marketing_column_content2"><img src="__PUBLIC__/images/online_two3.jpg" width="302" height="150"></div>
				
				<div class="marketing_column_content3">
					<div class="marketing_column_content4">
						<span>视觉是营销重点</span>
						<span>精美设计助力转化</span>
						<span class="marketing_column_content7"><img src="__PUBLIC__/images/duobianxin.png"></span>
					</div>
				</div>

				<div class="marketing_column_content5">整店装修</div>
				<div class="marketing_column_content6">提高转化率，提升点击率</div>
			</div>
		</div>
	</div>
	<!-- 电商运营第二栏内容结束 -->

	<!-- 电商运营第三栏内容开始 -->
	<div id="marketing_column2">
		<div class="marketing_column2_content"></div>
	</div>
	<!-- 电商运营第三栏内容结束 -->

	<!-- 电商运营第四栏内容开始 -->
	<div id="marketing_column3">
		<div class="marketing_column3_content">

			<div class="marketing_column3_top">五点店铺策划</div>

			<div class="marketing_column3_middle"><img src="__PUBLIC__/images/online_four1.png"></div>



			<div class="marketing_column3_bottom">

				<div class="marketing_column3_bottom1">
					<div class="marketing_column3_bottom2">达到月计划</div>
					<div class="marketing_column3_bottom3">月月有计划，天天有目标，结合运营人员考核，客户和运营利益一致，目标统一，就是要帮你成功。</div>
				</div>


				<div class="marketing_column3_bottom1">
					<div class="marketing_column3_bottom2">产品策划</div>
					<div class="marketing_column3_bottom3">不做无利润的店铺，通过合理的产品策划风雷，打造爆款和利润，你可以兼得。帮你清理各种网点花销，让店铺健康成长。</div>
				</div>
				<div class="marketing_column3_bottom1">
					<div class="marketing_column3_bottom2">行业分析策划</div>
					<div class="marketing_column3_bottom3">专业的数据分析，就算您不懂电商，也能快速的把握行业信息的情况，先人一步。</div>
				</div>
				<div class="marketing_column3_bottom1">
					<div class="marketing_column3_bottom2">品牌文案策划</div>
					<div class="marketing_column3_bottom3">好的文案会说话，让人一进店铺就知道您是做什么的，强化品牌和店铺优化。</div>
				</div>
				<div class="marketing_column3_bottom1">
					<div class="marketing_column3_bottom2">热销氛围打造</div>
					<div class="marketing_column3_bottom3">在网上和实体一样，想要转化好，一个热销的氛围打造是很重要的，5年万家店铺运营敬仰，手把手帮您把握要点。</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 电商运营第四栏内容结束 -->

	<!-- 电商运营第五栏内容开始 -->	
	<div id="marketing_column4">
		<div class="marketing_column4_content">

			<div class="marketing_column4_top">目前掌柜存在问题</div>


			<div class="marketing_column4_bottom">

				<div class="marketing_column4_bottom1">


					<div class="marketing_column4_left marketing_column4_bottom7">
						
						<div class="marketing_column4_bottom2">
							<div class="marketing_column4_bottom3">存在问题01</div>
							<div class="marketing_column4_bottom4">店铺推广成本太高，投产低，入不敷出</div>
							<div class="marketing_column4_bottom5"><img src="__PUBLIC__/images/online_five.jpg"></div>
						</div>


						<div class="marketing_column4_bottom6"><img src="__PUBLIC__/images/online_five1.jpg" width="205" height="107"></div>


					</div>



					<div class="marketing_column4_right marketing_column4_bottom7">

						<div class="marketing_column4_bottom2">
							<div class="marketing_column4_bottom3">存在问题02</div>
							<div class="marketing_column4_bottom4">做推广，搜索流量一直没有提升</div>
							<div class="marketing_column4_bottom5"><img src="__PUBLIC__/images/online_five.jpg"></div>
						</div>

						<div class="marketing_column4_bottom6"><img src="__PUBLIC__/images/online_five2.jpg" width="205" height="107"></div>
					</div>


				</div>






				<div class="marketing_column4_bottom1">


					<div class="marketing_column4_left marketing_column4_bottom7">
						
						<div class="marketing_column4_bottom2">
							<div class="marketing_column4_bottom3">存在问题03</div>
							<div class="marketing_column4_bottom4">店铺有访客，但是不精准，转化差</div>
							<div class="marketing_column4_bottom5"><img src="__PUBLIC__/images/online_five.jpg"></div>
						</div>


						<div class="marketing_column4_bottom6"><img src="__PUBLIC__/images/online_five3.jpg" width="205" height="107"></div>


					</div>



					<div class="marketing_column4_right marketing_column4_bottom7">

						<div class="marketing_column4_bottom2">
							<div class="marketing_column4_bottom3">存在问题04</div>
							<div class="marketing_column4_bottom4">地域电商人才少，组建团队成本高</div>
							<div class="marketing_column4_bottom5"><img src="__PUBLIC__/images/online_five.jpg"></div>
						</div>

						<div class="marketing_column4_bottom6"><img src="__PUBLIC__/images/online_five4.jpg" width="205" height="107"></div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- 电商运营第五栏内容结束 -->

<!-- 底部图片引入内容开始 -->
	<div id="banner1">
		<div class="banner1_img"></div>
	</div>
	<!-- 底部图片引入内容结束 -->

	<!-- 底部信息栏内容设置开始 -->
	<div id="footer">
		<div class="footer_content">
			<div class="footer_content_top">
				<div class="footer_top_left">

					<div class="footer_left_one">
						<ul class="footer_left_ul">
							<li>宜昌老板商务信息咨询服务有限公司
</li>
							<li>0717-6348888</li>
							<li>13871378888  1354537686</li>
							<li>duchaoping@ssdfsx.com</li>
							<li>湖北宜昌市西陵区西陵发展大道111号</li>
						</ul>
					</div>

					<div class="footer_left_two">
						<ul class="footer_left_ul">
							<li>About Us</li>
							<li><a href="">服务项目</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">公司动态</a></li>
							<li><a href="">行业资讯</a></li>
							<li><a href="">专家顾问</a></li>
						</ul>
					</div>
				</div>

				<div class="footer_top_right">

					<div class="footer_right_one">
						<ul class="footer_left_ul">
							<li>Service</li>
							<li><a href="">品牌营销咨询</a></li>
							<li><a href="">营销推广策略</a></li>
							<li><a href="">会务活动策划</a></li>
							<li><a href="">营销全案策划</a></li>
						</ul>

					</div>


					<div class="footer_right_two">
						<div class="footer_right_top">关于我们</div>
						<div class="footer_right_bottom">
							<span><img src="__PUBLIC__/images/footer1.jpg" height="97" width="114"></span>
							<span><img src="__PUBLIC__/images/footer2.jpg" height="97" width="114"></span>
						</div>
					</div>


				</div>
			</div>

			<div class="footer_content_bottom">
				<div>宜昌老板商务信息咨询服务有限公司 服务电话：0717-6340809 版权所有 © 2008-2018 Inc.</div>
				<div>鄂ICP备17016655号-3</div>
			</div>
		</div>
	</div>

	<!-- 底部信息栏内容设置结束 -->

</body>
</html>