<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<script type="text/javascript" src="__PUBLIC__/js/home.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/placeholders.min.js"></script>
</head>
<body>

	<include file="./Application/Home/View/head.html" />
	<!-- 轮播图内容开始 -->
	<div id="play">
		<div class="play_img">
			<ul class="play_ul">

				<cross name="voo" id="vo">
				<li style="background:url('__ROOT__/{$vo.imgaddr}') center"></li>
				</cross>
			</ul>
		</div>
		<div class="play_left play_common"><</div>
		<div class="play_right play_common">></div>
	</div>
	<!-- 轮播图内容结束 -->

	<!-- 策划服务内容开始 -->
	<div id="plan">
		<div class="plan_content">

			<div class="plan_content_top">
				<div class="plan_top_font">
					<div class="plan_top_font1">策划服务</div>
					<div class="plan_top_font2">PLANNING SERVICE</div>
				</div>
			</div>


			<div class="plan_content_bottom">
				

				<div class="plan_bottom_one spin">
					<div><a href=""><img src="__PUBLIC__/images/plan.png"></a></div>
					<div class="plan_bottom_one1"><a href="">品牌营销策划</a></div>
				</div>


				<div class="plan_bottom_one spin">
					<div><a href=""><img src="__PUBLIC__/images/plan1.jpg"></div>
					<div class="plan_bottom_one1"><a href="">营销全案策划</a></div>
				</div>


				<div class="plan_bottom_one spin">
					<div><a href=""><img src="__PUBLIC__/images/plan2.png"></a></div>
					<div class="plan_bottom_one1"><a href="">营销推广策划</a></div>
				</div>


				<div class="plan_bottom_one spin">
					<div><a href=""><img src="__PUBLIC__/images/plan3.png"></a></div>
					<div class="plan_bottom_one1"><a href="">会务活动策划</a></div>
				</div>

			</div>

		</div>
	</div>
	<!-- 策划服务内容结束 -->

	<!-- 企业营销内容开始 -->
	<div id="marketing">
		<div class="marketing_content">
			
			<div class="marketing_content_top">
				<div class="marketing_top_font">
					<div class="marketing_top_font1">企业营销</div>
					<div class="marketing_top_font2">PLANNING SERVICE</div>
				</div>
			</div>

			<div  class="marketing_content_bottom">


				<div class="marketing_content_children1 enlarge marketing_select">
					<span><a href=""><img src="__PUBLIC__/images/marketing.jpg" width="308" height="190"></a></span>
					<p><a href="">网站建设</a></p>
				</div>

				<div class="marketing_content_children1 marketing_content_children2 enlarge">
					<span><a href=""><img src="__PUBLIC__/images/marketing1.jpg" width="308" height="190"></a></span>
					<p><a href="">小程序开发</a></p>
				</div>

				<div class="marketing_content_children1 marketing_content_children2 enlarge">
					<span><a href=""><img src="__PUBLIC__/images/marketing2.jpg" width="308" height="190"></a></span>
					<p><a href="">电商运营</a></p>
				</div>


			</div>

		</div>
	</div>
	<!-- 企业营销内容结束 -->

	<!-- 首页banner图内容开始 -->
	<div id="banner">
		<div class="banner_img"></div>
	</div>
	<!-- 首页banner图内容结束 -->

	<!-- 客户案例内容开始 -->
	<div id="case">
		<div class="case_content">

			<div class="case_content_top">
				<div class="case_top_left">
					<div>客户案例</div>
					<div>SERVICE ITEMS</div>
				</div>

				<div class="case_top_right">
					<a href="">查看更多</a>
					<a href="">></a>
				</div>
			</div>


			<div class="case_content_bottom">


				<div class="case_bottom_one topMove case_select">
					<div><a href=""><img src="__PUBLIC__/images/case1.jpg" height="135" width="230"></a></div>
					<div><a href="">“合计口袋”微商城运营案例</a></div>
					<div></div>
				</div>


				<div class="case_bottom_one case_bottom_two topMove">
					<div><a href=""><img src="__PUBLIC__/images/case2.jpg" height="135" width="230"></a></div>
					<div><a href="">口语培训公司小程序</a></div>
					<div>口语培训小程序</div>
				</div>


				<div class="case_bottom_one case_bottom_two topMove">
					<div><a href=""><img src="__PUBLIC__/images/case3.jpg" height="135" width="230"></a></div>
					<div><a href="">首饰公司小程序</a></div>
					<div>首饰小程序</div>
				</div>


				<div class="case_bottom_one case_bottom_two topMove">
					<div><a href=""><img src="__PUBLIC__/images/case4.jpg" height="135" width="230"></a></div>
					<div><a href="">汽车品牌公司小程序</a></div>
					<div>汽车小程序</div>
				</div>


			</div>

		</div>
	</div>
	<!-- 客户案例内容结束 -->

	<!-- 公司简介内容开始 -->
	<div id="company">
		<div class="company_content">

			<div class="company_content_left">
				<img src="__PUBLIC__/images/synopsis.jpg" width="403" height="243">
			</div>

			<div class="company_content_right">

				<div class="company_right_content">
					<div><h4>COMPANY</h4></div>
					<div><h1>PROFILE</h1></div>
					<div class="company_right_font"><h5>公司简介</h5></div>
					<div class="company_right_font"><h6>"宜昌世阳商务信息咨询服务有限公司"是湖北省策划行业协会副会长单位 董事长张世雄任湖北省策划行业协会副会长、宜昌分会首届会长、公司背靠湖北省策划行业协会，依托湖北省工商联全省工商领航系统及协会庞大的圈层结构，通过资源和市场有效配置和整合，集合了国内长期从事咨询策划行业的专家、学者、企业家、职业策划人、教育培训与认证机构、投融资机构和个人等为主体的湖北省策划行业系统的专家团队。</h6></div>
					<div><a href="">MORE</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 公司简介内容结束 -->

	<!-- 专家顾问栏目内容开始 -->
	<div id="export">
		<div class="export_content">
			<div class="export_content_top">
				<div class="export_top_content">
					<div class="export_content_font1">专家顾问</div>
					<div class="export_content_font2">EXPERT ADVISOR</div>
				</div>
			</div>


			<div class="export_content_bottom">


<!-- 通过artliss标签，目前已经能够通过
分类cateid查该分类所有文章,
通过offset和length取其中几条数据，
通过orders按照各种字段排序。并且每次查询都是分类表和文章表并表查询，获取所有文章的同时，也能获得每篇文章对应的catename字段值。
通过name字段，可以防止同一个页面中，有多个请求数据的地方，变量互相冲突。通过name自定义一个变量名。可以在同一个页面中多处调用多个分类数据

 -->
				<artliss catid="35" name="reb" id="vo" offset="0" length="4" orders="timess desc">

				<div class="bottomMove">
					<!-- 这个当前模块的常量名，后面在做url优化的时候，会去除掉 -->
					<div><a href="__MODULE__/{$vo.arttem}/catid/{$vo.id}"><img src="__ROOT__/{$vo.artimg}" height="174" width="174" style="border-radius:50%;overflow: hidden;"></a></div>
					<div class="export_content_name">{$vo.shot|msubstr=0,11,'utf8'}</div>
					<div class="export_content_newname">{$vo.lart|msubstr=0,15,'utf8'}</div>
				</div>
				</artliss>


			</div>
		</div>
	</div>
	<!-- 专家顾问栏目内容结束 -->

	<!-- 合作模式栏目内容开始 -->
	<div id="model">
		<div class="model_content">


			<div class="model_content_top">
				<div class="model_top_content">
					<div class="model_content_font1">合作模式</div>
					<div class="model_content_font2">COOPERATION MODEL</div>
				</div>
			</div>

			<div class="model_content_bottom">
				<div class="model_bottom_one">

					
					<div class="model_bottom_one1 shortLeft rightMove" data-img="__PUBLIC__/images/model1.jpg" data-imgs="__PUBLIC__/images/model-1.jpg">
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model1.jpg" /></span></div>

						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">01</div>
								<div class="model_details2_right">
									<div class="model_details2_font">基本目标</div>
									<div class="model_details2_font1">倾听客户需求，了解用户痛点</div>
								</div>
							</div>

						</div>
					</div>



					<div class="model_bottom_one1 shortBottom" data-img="__PUBLIC__/images/model2.jpg" data-imgs="__PUBLIC__/images/model-2.jpg">
						
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model2.jpg" /></span></div>

						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">02</div>
								<div class="model_details2_right">
									<div class="model_details2_font">思考路径</div>
									<div class="model_details2_font1">以客户及市场痛点，深度挖掘</div>
								</div>
								
							</div>
						</div>


					</div>


					<div class="model_bottom_one1 leftMove" data-img="__PUBLIC__/images/model3.jpg" data-imgs="__PUBLIC__/images/model-3.jpg">
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model3.jpg" /></span></div>
						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">03</div>
								<div class="model_details2_right">
									<div class="model_details2_font">策略结果</div>
									<div class="model_details2_font1">展开广域或区域调研，汇总调研报告</div>
								</div>
								
							</div>
						</div>
					</div>



				</div>


				<div class="model_bottom_one">



					<div class="model_bottom_one1 rightMove" data-img="__PUBLIC__/images/model4.jpg" data-imgs="__PUBLIC__/images/model-4.jpg">
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model4.jpg" /></span></div>
						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">04</div>
								<div class="model_details2_right">
									<div class="model_details2_font">合作协议</div>
									<div class="model_details2_font1">客观分析，提出项目策略性方案</div>
								</div>
								
							</div>
						</div>
					</div>


					<div class="model_bottom_one1 shortTop" data-img="__PUBLIC__/images/model5.jpg" data-imgs="__PUBLIC__/images/model-5.jpg">
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model5.jpg" /></span></div>
						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">05</div>
								<div class="model_details2_right">
									<div class="model_details2_font">优化进程</div>
									<div class="model_details2_font1">将策略性方案提报客户端沟通并完善</div>
								</div>
								
							</div>
						</div>
					</div>



					<div class="model_bottom_one1 leftMove" data-img="__PUBLIC__/images/model6.jpg" data-imgs="__PUBLIC__/images/model-6.jpg">
						<div class="model_bottom_details1"><span><img src="__PUBLIC__/images/model6.jpg" /></span></div>
						<div class="model_bottom_details2">
							<div class="model_details2_content">
								<div class="model_details2_left">06</div>
								<div class="model_details2_right">
									<div class="model_details2_font">通报进度</div>
									<div class="model_details2_font1">阶段性对项目服务进行测评</div>
								</div>
								
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>

	<!-- 合作模式栏目内容结束 -->


	<!--新闻动态栏目内容开始 -->
	<div id="news">
		<div class="news_content">

			<div class="news_content_top">
				<div class="news_top_content">
					<div class="news_content_font1">新闻动态</div>
					<div class="news_content_font2">NEWS CENTER</div>
				</div>
			</div>

			<div class="news_content_bottom">

				<div class="news_bottom_left rightD">
					<div><img src="__PUBLIC__/images/news.jpg" width="490" height="160"></div>
					<div class="news_bottom_left1"><a href="">2018“神农架生态酒”第九期湖北省注册策划师资格认证培训班圆满落幕！</a></div>
					<div class="news_bottom_left2">&nbsp;&nbsp;&nbsp;&nbsp;湖北策划人网张奕轩湖北报道：市场竞争我不怕，就怕竞争会“策划”，2018“神农架生态酒”第九期湖北省注册策划师资格认证培训班.....</div>
				</div>



				<div class="news_bottom_right leftD">
					<div class="news_bottom_right1">

						<div class="news_bottom_details">
							<span>04-02</span>
							<span><a href=""> 购物中心筛选餐饮品牌入驻的标准，这几点很重要！</a></span>
						</div>

						<div class="news_bottom_details1">&nbsp;&nbsp;&nbsp;&nbsp;如今，餐饮进军商业综合体，不再如前几年一样，成为一本万利的上佳选择。风险和机遇交织错杂，进驻与否，以何种品牌进驻，都成为....</div>
					</div>


					<div class="news_bottom_right1">

						<div class="news_bottom_details">
							<span>04-02</span>
							<span><a href=""> 品牌营销应当理性借势形式，不忘产品初心</a></span>
						</div>

						<div class="news_bottom_details1">&nbsp;&nbsp;&nbsp;&nbsp;说到品牌营销，就不得不说杜蕾斯微博，杜蕾斯微博是一只具有10人以上的创意运营团队在运营着。2011年北京遭遇特大暴雨，杜蕾斯借.....</div>
					</div>


					<div class="news_bottom_right1">

						<div class="news_bottom_details">
							<span>04-02</span>
							<span><a href=""> 掌握数字营销 精准找到最佳受众</a></span>
						</div>

						<div class="news_bottom_details1">&nbsp;&nbsp;&nbsp;&nbsp;我这产品很多，质量可靠，就是找客户费时间，都是互联网时代了，有没有更好的精准营销模式呢？”昨天早上，由经发地产白桦林国.....</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- 行动动态栏目内容结束 -->

	<!-- 网站留言栏目内容开始 -->
	<div id="message">
		<div class="message_content">
			<div class="message_content_top">
				<div class="message_top_content">
					<div class="message_content_font1">免费获取网站建设与品牌策划方案报价</div>
					<div class="message_content_font2">*请认真填写需求信息，我们会在24小时与您取得联系</div>
				</div>
			</div>

			<div class="message_content_bottom">
				<form id="fm" method="post" action="__MODULE__/Index/mess">

					<div class="message_bottom_details1">
						<input type="text" name="messname" placeholder="称呼姓名">

						<input type="text" name="mestel" placeholder="联系电话" class="message_details1_input">
						<input type="text" name="mescon" placeholder="描述您需求，如网站、微信、电商、APP等" class="message_details1_input">
					</div>

					<button type="submit" class="message_bottom_details1 message_bottom_details2">获取文案及报价</button>

				</form>
			</div>
		</div>
	</div>

	<!-- 网站留言栏目内容结束 -->

	<!-- 底部图片引入内容开始 -->
	<div id="banner1">
		<div class="banner1_img"></div>
	</div>
	<!-- 底部图片引入内容结束 -->

	<!-- 底部信息栏内容设置开始 -->
	<div id="footer">
		<div class="footer_content">
			<div class="footer_content_top">
				<div class="footer_top_left">

					<div class="footer_left_one">
						<ul class="footer_left_ul">
							<li>宜昌老板商务信息咨询服务有限公司
</li>
							<li>0717-6348888</li>
							<li>13871378888  1354537686</li>
							<li>duchaoping@ssdfsx.com</li>
							<li>湖北宜昌市西陵区西陵发展大道111号</li>
						</ul>
					</div>

					<div class="footer_left_two">
						<ul class="footer_left_ul">
							<li>About Us</li>
							<li><a href="">服务项目</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">公司动态</a></li>
							<li><a href="">行业资讯</a></li>
							<li><a href="">专家顾问</a></li>
						</ul>
					</div>
				</div>

				<div class="footer_top_right">

					<div class="footer_right_one">
						<ul class="footer_left_ul">
							<li>Service</li>
							<li><a href="">品牌营销咨询</a></li>
							<li><a href="">营销推广策略</a></li>
							<li><a href="">会务活动策划</a></li>
							<li><a href="">营销全案策划</a></li>
						</ul>

					</div>


					<div class="footer_right_two">
						<div class="footer_right_top">关于我们</div>
						<div class="footer_right_bottom">
							<span><img src="__PUBLIC__/images/footer1.jpg" height="97" width="114"></span>
							<span><img src="__PUBLIC__/images/footer2.jpg" height="97" width="114"></span>
						</div>
					</div>


				</div>
			</div>

			<div class="footer_content_bottom">
				<div>宜昌老板商务信息咨询服务有限公司 服务电话：0717-6340809 版权所有 © 2008-2018 Inc.</div>
				<div>鄂ICP备17016655号-3</div>
			</div>
		</div>
	</div>
	<!-- 底部信息栏内容设置结束 -->


	<!-- 信息悬浮窗口 -->
	<div class="h-dialog">

		<div class="h-dialog-o">客户咨询</div>


		<div class="h-dialog-t">
			<div>项目经理 :<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=249650419&site=qq&menu=yes"><img border="0" src="__PUBLIC__/images/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>




			<div class="h-dialog-t1"><span class="icon-phone1"></span>0717-6946609</div>
			<div class="h-dialog-t1"><span class="icon-phone1"></span>13871398760</div>
			<div class="h-dialog-t1"><span class="icon-phone1"></span>19845376862</div>

			<div class="h-dialog-t2"><img src="__PUBLIC__/images/weixinn.jpg"></div>
		</div>


		<div class="h-dialog-th">
			<div class="h-dialog-th1"><span class="icon-arrow"></span></div>
			<div class="h-dialog-th2">返回顶部</div>
		</div>


	</div>

	<!-- 信息悬浮窗口 -->
	

	<script type="text/javascript" src="__PUBLIC__/js/homejquery.js"></script>
	<script type="text/javascript">
		$('.play_ul li:first-child').addClass('play_select');
	</script>
</body>
</html>