<!DOCTYPE html>
<html>
<head>
	<title>小程序建设</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/small.css">
</head>
<body>
	<include file="./Application/Home/View/head.html" />

	<!-- 小程序banner图内容开始 -->
	<div id="banner5">
		<div class="banner5_img"></div>
	</div>
	<!-- 小程序banner图内容结束 -->

	<!-- 小程序第一列内容开始 -->
	<div id="small_column1">
		<div class="small_column1_content">

			<div class="small_column1_left">
				<div class="small_column1_left1"><img src="__PUBLIC__/images/small2.jpg"></div>

				<div class="small_column1_left2"><img src="__PUBLIC__/images/borde.jpg"><img src="__PUBLIC__/images/small3.jpg"></div>

				<div class="small_column1_left3">基于微信授权开发，共享9亿微信客流，核心解决客流到店问题</div>

				<div class="small_column1_left4">


					<div class="small_column1_left5 small_column1_leftss">
						<span class="small_column1_left6">线上开店</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">广告图展示|图文介绍|视频介绍</span>
					</div>

					<div class="small_column1_left5">
						<span class="small_column1_left6">线上获客</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">附近的店|搜索|聊天分享|公众号关联|常用列表|群小程序记录</span>
					</div>

					<div class="small_column1_left5">
						<span class="small_column1_left6">引客到店</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">一键同步朋友圈|活动促销|优惠券|地图导航</span>
					</div>

					<div class="small_column1_left5">
						<span class="small_column1_left6">买单成交</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">在线购买|在线支付|在线客服</span>
					</div>

					<div class="small_column1_left5">
						<span class="small_column1_left6">客户留存</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">访问留存|社群交流|大数据分析</span>
					</div>

					<div class="small_column1_left5">
						<span class="small_column1_left6">客户管理</span>
						<span class="small_column1_left7"><img src="__PUBLIC__/images/small.jpg" height="57"></span>
						<span class="small_column1_left8">群组管理|行为轨迹记录|智能朋友圈|消息推送</span>
					</div>


				</div>
			</div>


			<div class="small_column1_right">
				<iframe src="__MODULE__/Index/mobile" width="300" height="610" frameborder="0" scrolling-x="No" style="margin-left: 25px;
    margin-top: 50px;"></iframe>
			</div>

		</div>
	</div>

	<div id="small_column2">
		<div class="small_column2_content"></div>
	</div>
	<!-- 小程序第一列内容结束 -->

	<!-- 小程序第二列内容开始 -->
	<div id="small_column3">
		<div class="small_column3_content">


			<div class="small_column3_top">
				<div class="small_column3_top1">我们的产品</div>
				<div class="small_column3_top2">无需安装，一键拥有，抢线上线下客流更简单</div>
			</div>



			<div class="small_column3_bottom">

				<div class="small_column3_bottom1">
					<div class="small_column3_bottom2"><img src="__PUBLIC__/images/small_column3_1.jpg" width="91" height="66"></div>

					<div class="small_column3_bottom3">
						<span class="small_column3_bottom4">门店小程序</span>
						<span>店铺互动名片</span>
						<span>社群交流系统</span>
						<span>APP管理工具</span>
						<span>功能免费升级</span>
					</div>
				</div>

				<div class="small_column3_bottom1">
					<div class="small_column3_bottom2"><img src="__PUBLIC__/images/small_column3_2.jpg"  width="91" height="66"></div>

					<div class="small_column3_bottom3">
						<span class="small_column3_bottom4">微电商小程序</span>
						<span>店铺互动名片</span>
						<span>社群交流程序</span>
						<span>商城特卖系统</span>
						<span>APP管理工具</span>
						<span>功能免费升级</span>
					</div>
				</div>


				<div class="small_column3_bottom1">
					<div class="small_column3_bottom2"><img src="__PUBLIC__/images/small_column3_3.jpg" width="91" height="66"></div>

					<div class="small_column3_bottom3">
						<span class="small_column3_bottom4">平台小程序</span>
						<span>资源整合平台</span>
						<span>赠送1个微电商小程序</span>
						<span>推广门店小程序返佣100%</span>
						<span>社群交流系统</span>
						<span>发展下级分佣</span>
						<span>功能免费升级</span>
					</div>
				</div>


				<div class="small_column3_bottom1">
					<div class="small_column3_bottom2"><img src="__PUBLIC__/images/small_column3_4.jpg" width="91" height="66"></div>

					<div class="small_column3_bottom3">
						<span class="small_column3_bottom4">VIP代理商</span>
						<span>资源整合平台</span>
						<span>赠送15个微电商小程序</span>
						<span>推广门店小程序返佣100%</span>
						<span>发展下级高额分佣</span>
						<span>功能免费升级</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 小程序第二列内容结束 -->

	<!-- 小程序第三列内容开始 -->
	<div id="small_column4">
		<div class="small_column4_content">


			<div class="small_column4_top">
				<div class="small_column4_top1">N大流量入口，发现你的小程序</div>
				<div class="small_column4_top2">微信不断给小程序开放新入口，源源不断将线上线下流量导给小程序</div>
			</div>


			<div class="small_column4_bottom">
				<div class="small_column4_bottom1">
					<div class="small_column4_bottom3">
						<div>附近的小程序</div>
						<div>5公里内的微信用户，随时发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>模糊搜索</div>
						<div>用关键字模糊搜索，9亿用户发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>聊天分享</div>
						<div>好友和群成员，通过你的分享，发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>公众号关联</div>
						<div>将小程序关联到公众号，粉丝马上发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>常用列表</div>
						<div>访问过你的小程序的用户，通过常用列表快速访问你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>文字推送</div>
						<div>推送公众号文章时添加小程序链接，文章阅读者发现你的小程序</div>
					</div>
				</div>

				<div class="small_column4_bottom1">
					<div class="small_column4_bottom3">
						<div>扫一扫</div>
						<div>将小程序太阳码线上分享，线下打印张贴，任何人扫一扫就发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>支付完成页</div>
						<div>用户购买支付后，可通过支付完成页，直接访问你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>群小程序记录</div>
						<div>群成员通过查看群分享过的小程序记录，快速访问你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>搜索界面小程序</div>
						<div>微信用户打开搜索界面，直接访问已使用过的你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>小程序互跳</div>
						<div>将你的小程序关联到其他的小程序，它的粉丝就会发现你的小程序</div>
					</div>

					<div class="small_column4_bottom3">
						<div>更多入口</div>
						<div>N个小程序流量入口，让你的小程序畅享微信9亿流量红利</div>
					</div>
				</div>

			


			</div>
		</div>
	</div>
	<!-- 小程序第三列内容结束 -->

	<!-- 小程序第四列内容开始 -->
	<div id="small_column5">
		<div class="small_column5_content">


			<div class="small_column5_top">
				<div class="small_column5_top1">手边小程序引领实体门店转型互联网+</div>
				<div class="small_column5_top2">新零售/新商业/新营销</div>
			</div>



			<div class="small_column5_bottom">
				
				<div class="small_column5_bottom1">




					<div class="small_column5_bottom2 samll_column5_bottomss">
						<div class="small_column5_bottom5">

							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/A.jpg"></div>
							
							<div class="small_column5_bottom4">
								<div>轻松开店</div>
								<div>注册、授权、设置，三步拥有一个专属的小程序线上店</div>
							</div>

						</div>

					</div>


					<div class="small_column5_bottom2">
						<div class="small_column5_bottom5">
							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/B.jpg"></div>
							<div class="small_column5_bottom4">
								<div>零成本获客</div>
								<div>共享微信9亿流量红利，零成本获得更多客户</div>
							</div>
						</div>
					</div>



					<div class="small_column5_bottom2">
						<div class="small_column5_bottom5">
							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/C.jpg"></div>
							<div class="small_column5_bottom4">
								<div>借力微信平台</div>
								<div>基于微信平台，极具爆发力的社交力量让你的小程序线上店红利不断</div>
							</div>
						</div>
					</div>




				</div>

				<div class="small_column5_bottom1">




					<div class="small_column5_bottom2">
						<div class="small_column5_bottom5">

							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/D.jpg"></div>
							
							<div class="small_column5_bottom4">
								<div>独创1+N倍流量模式</div>
								<div>独创1+N个独立小程序自带流量+N个平台叠加流量的优势</div>
							</div>

						</div>

					</div>




					<div class="small_column5_bottom2">
						<div class="small_column5_bottom5">
							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/E.jpg"></div>
							<div class="small_column5_bottom4">
								<div>轻运营</div>
								<div>你只要会发朋友圈，就可以正常推广运营小程序</div>
							</div>
						</div>
					</div>



					<div class="small_column5_bottom2">
						<div class="small_column5_bottom5">
							<div class="small_column5_bottom3"><img src="__PUBLIC__/images/F.jpg"></div>
							<div class="small_column5_bottom4">
								<div>终身免费升级</div>
								<div>你无需再交任何费用，即可享受产品功能升级</div>
							</div>
						</div>
					</div>





				</div>
			</div>

		</div>
	</div>

	<!-- 小程序第四列内容结束 -->

	<!-- 小程序第五列内容开始 -->
	<div id="small_column6">
		<div class="small_column6_content">


			<div class="small_column6_top">
				<div class="small_column6_top1">手边小程序使用前后效果对比</div>
				<div class="small_column6_top2">小程序对你的门店带来质的提升</div>
			</div>

			<div class="small_column6_bottom">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="small_column6_bottom1 small_column6_bottom4">使用前</td>
						<td class="small_column6_bottom2"></td>
						<td class="small_column6_bottom3 small_column6_bottom4""><span class="small_column6_span">使用后</span></td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">聘请萌妹子派单，一天8小时，成本180元</td>
						<td class="small_column6_bottom2">成本</td>
						<td class="small_column6_bottom3">小程序24小时全年不打烊站街，<span class="small_column6_span">成本不到2元/天</span class="small_column6_span"></td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">客流的多少依靠店铺地段</td>
						<td class="small_column6_bottom2">客流</td>
						<td class="small_column6_bottom3"><span class="small_column6_span">N多入口</span>发现你的小程序店，微信9亿用户都可能变成你的顾客</td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">需专人负责品牌建设</td>
						<td class="small_column6_bottom2">品牌</td>
						<td class="small_column6_bottom3">一张<span class="small_column6_span">富媒体店铺名片</span>，随时随地分享小程序店，口碑相传</td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">砸钱请团队表演，或开展线下价格战</td>
						<td class="small_column6_bottom2">营销</td>
						<td class="small_column6_bottom3">营销活动促销基于微信社交体系的<span class="small_column6_span">裂变式传播</span>，花费少效果好</td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">顾客出店就失去联系，何时再来全看顾客心情</td>
						<td class="small_column6_bottom2">复购</td>
						<td class="small_column6_bottom3">小程序访问即留存，顾客随时再次访问小程序店，<span class="small_column6_span">二次购买门槛低</span></td>
					</tr>
					<tr>
						<td class="small_column6_bottom1">引流全靠店铺的各种促销打折营销手段</td>
						<td class="small_column6_bottom2">平台</td>
						<td class="small_column6_bottom3">除小程序性自带流量外，还有N多个平台小程序为你的小程序店带来<span class="small_column6_span">N倍流量</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- 小程序第五列内容结束 -->




	<!-- 第五栏内容开始 -->
	<div id="column_five">
		<div class="column_five_content">


			<div class="column_five_top">
				<div class="column_five_top1">案例展示</div>
				<div class="column_five_top2">合作双赢，共享未来</div>
			</div>


			<div class="column_five_bottom">



				<div class="column_five_bottom1">
					<div><a href=""><img src="__PUBLIC__/images/column10.jpg" height="195" width="305"></a></div>

					<a href="" class="column_five_bottom4"></a>

					<a href="" class="column_five_bottom5"></a>

					<div class="column_five_bottom2"><a href="">建材类企业官网</a></div>

					<div class="column_five_bottom3">风景秀丽宜昌，您值得来的地方.....</div>
				</div>




				<div class="column_five_bottom1">
					<div>
						<a href="">
							<img src="__PUBLIC__/images/column11.jpg" height="195" width="305">
						</a>
					</div>

					<a href="" class="column_five_bottom4"></a>

					<a href="" class="column_five_bottom5"></a>

					<div class="column_five_bottom2"><a href="">工程类企业官网</a></div>

					<div class="column_five_bottom3">秉承了《武林外传》原作轻松、幽默的风格,展现一个内容丰富的喜剧武侠世界。.....</div>
				</div>



				<div class="column_five_bottom1">
					<div><a href=""><img src="__PUBLIC__/images/column12.jpg" height="195" width="305"></a></div>

					<a href="" class="column_five_bottom4"></a>

					<a href="" class="column_five_bottom5"></a>

					<div class="column_five_bottom2"><a href="">婚纱主题类企业官网</a></div>

					<div class="column_five_bottom3">人文之家，家和万事兴.....</div>
				</div>




			</div>


		</div>
	</div>

	<!-- 第五栏内容结束 -->





<!-- 底部图片引入内容开始 -->
	<div id="banner1">
		<div class="banner1_img"></div>
	</div>
	<!-- 底部图片引入内容结束 -->

	<!-- 底部信息栏内容设置开始 -->
	<div id="footer">
		<div class="footer_content">
			<div class="footer_content_top">
				<div class="footer_top_left">

					<div class="footer_left_one">
						<ul class="footer_left_ul">
							<li>宜昌老板商务信息咨询服务有限公司
</li>
							<li>0717-6348888</li>
							<li>13871378888  1354537686</li>
							<li>duchaoping@ssdfsx.com</li>
							<li>湖北宜昌市西陵区西陵发展大道111号</li>
						</ul>
					</div>

					<div class="footer_left_two">
						<ul class="footer_left_ul">
							<li>About Us</li>
							<li><a href="">服务项目</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">公司动态</a></li>
							<li><a href="">行业资讯</a></li>
							<li><a href="">专家顾问</a></li>
						</ul>
					</div>
				</div>

				<div class="footer_top_right">

					<div class="footer_right_one">
						<ul class="footer_left_ul">
							<li>Service</li>
							<li><a href="">品牌营销咨询</a></li>
							<li><a href="">营销推广策略</a></li>
							<li><a href="">会务活动策划</a></li>
							<li><a href="">营销全案策划</a></li>
						</ul>

					</div>


					<div class="footer_right_two">
						<div class="footer_right_top">关于我们</div>
						<div class="footer_right_bottom">
							<span><img src="__PUBLIC__/images/footer1.jpg" height="97" width="114"></span>
							<span><img src="__PUBLIC__/images/footer2.jpg" height="97" width="114"></span>
						</div>
					</div>


				</div>
			</div>

			<div class="footer_content_bottom">
				<div>宜昌老板商务信息咨询服务有限公司 服务电话：0717-6340809 版权所有 © 2008-2018 Inc.</div>
				<div>鄂ICP备17016655号-3</div>
			</div>
		</div>
	</div>

	<!-- 底部信息栏内容设置结束 -->



	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/homejquery.js"></script>


</body>
</html>