<!DOCTYPE html>
<html>
<head>
	<title>电商运营案例</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/case.css">
</head>
<body>
	<include file="./Application/Home/View/head.html" />

	<!-- 营销策划案例banner图内容开始 -->

	<div id="banner12">
		<div class="banner12_img"></div>
	</div>

	<!-- 营销策划案例banner图内容结束 -->

	<!-- 主体内容第一部分 -->
	<div id="case4">
		<div class="case4_by_top">
			<img src="__PUBLIC__/images/case_line.jpg"/>
			 客户<span>案例</span>
			<img src="__PUBLIC__/images/case_line.jpg"/>
		</div>

		<div class="case4_by_middle">CUSTOMER CASE</div>
	</div>

	<div id="case4_one">
		<div class="case4_one1">
			<div class="case4_one_con">

				<div class="case4_one_con1">
					<a href="case1.html"  class="case4_one_con2">
						<span>网站建设案例</span>
						<span><img src="__PUBLIC__/images/case_img.png"></span>
					</a>
				</div>


				<div class="case4_one_con1">
					<a href="case2.html" class="case4_one_con2">
						<span>小程序开发案例</span>
						<span><img src="__PUBLIC__/images/case_img.png"></span>
					</a>
				</div>


				<div class="case4_one_con1">
					<a href="case3.html" class="case4_one_con2">
						<span>电商运营案例</span>
						<span class="case4_select"><img src="__PUBLIC__/images/case_img.png"></span>
					</a>
				</div>


				<div class="case4_one_con1">
					<a href="case4.html" class="case4_one_con2">
						<span>营销策划案例</span>
						<span><img src="__PUBLIC__/images/case_img.png"></span>
					</a>
				</div>


			</div>
		</div>
	</div>
	<!-- 主体内容第一部分 -->


	<!-- 主体内容第二部分  -->
	<div id="case4_two">
		<!-- 案例 -->
		<div class="case4_two_case">

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

			<div class="case4_two_case1">
				<div class="case4_two_case2"><a href="#"><img src="__PUBLIC__/images/cases4.jpg" width="300" height="190"/></a></div>
				<div class="case4_two_case3">鑫沃牧业营销策划纪实</div>
			</div>

		</div>

		<div class="clearfix"></div>
		<!-- 分页 -->
		<div class="case4_two_page">
			<ul>
				<li>上一页</li>
				<li class="select_page">1</li>
				<li>2</li>
				<li>下一页</li>
			</ul>
		</div>

		
	</div>

	<!-- 主体内容第二部分  -->

	<div class="clearfix"></div>
	<!-- 底部图片引入内容开始 -->
	<div id="banner1">
		<div class="banner1_img"></div>
	</div>
	<!-- 底部图片引入内容结束 -->

	<!-- 底部信息栏内容设置开始 -->
	<div id="footer">
		<div class="footer_content">
			<div class="footer_content_top">
				<div class="footer_top_left">

					<div class="footer_left_one">
						<ul class="footer_left_ul">
							<li>宜昌老板商务信息咨询服务有限公司
</li>
							<li>0717-6348888</li>
							<li>13871378888  1354537686</li>
							<li>duchaoping@ssdfsx.com</li>
							<li>湖北宜昌市西陵区西陵发展大道111号</li>
						</ul>
					</div>

					<div class="footer_left_two">
						<ul class="footer_left_ul">
							<li>About Us</li>
							<li><a href="">服务项目</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">公司动态</a></li>
							<li><a href="">行业资讯</a></li>
							<li><a href="">专家顾问</a></li>
						</ul>
					</div>
				</div>

				<div class="footer_top_right">

					<div class="footer_right_one">
						<ul class="footer_left_ul">
							<li>Service</li>
							<li><a href="">品牌营销咨询</a></li>
							<li><a href="">营销推广策略</a></li>
							<li><a href="">会务活动策划</a></li>
							<li><a href="">营销全案策划</a></li>
						</ul>

					</div>


					<div class="footer_right_two">
						<div class="footer_right_top">关于我们</div>
						<div class="footer_right_bottom">
							<span><img src="__PUBLIC__/images/footer1.jpg" height="97" width="114"></span>
							<span><img src="__PUBLIC__/images/footer2.jpg" height="97" width="114"></span>
						</div>
					</div>


				</div>
			</div>

			<div class="footer_content_bottom">
				<div>宜昌老板商务信息咨询服务有限公司 服务电话：0717-6340809 版权所有 © 2008-2018 Inc.</div>
				<div>鄂ICP备17016655号-3</div>
			</div>
		</div>
	</div>

	<!-- 底部信息栏内容设置结束 -->







</body>
</html>