#header{width:100%;height:80px;}
#header .navigator{margin:0 auto;width:1000px;height:100%;}
#header>.navigator>.navigator_logo{float:left;}
#header>.navigator>.navigator_nav{float:right;}
.navigator_nav_ul>li{position:relative;top:0;right:0;bottom:0;left:0;float:left;margin-top:30px;height:30px;}
.navigator_nav_ul>li>a{display:block;padding:0 24px;height:20px;border-right:1px solid #ccc;color:#b4b4b4;font-weight:700;font-size:13px;}
.navigator_nav_ul>li>ol{z-index:1;display:none;background:#fff;}
.navigator_nav_ul>.select_black>a{color:#000;}
.navigator_nav_ul>.select_black{border-bottom:2px solid red;}
.navigator_nav_ul>.last_child>a{border:none;}
.navigator_nav_ul>li:hover{border-bottom:2px solid red;}
.navigator_nav_ul>li>a:hover{color:#000;}
.navigator_nav_ul>li>ol{position:absolute;margin-top:12px;width:98%;height:auto;border-right:1px solid #E6E4E3;border-left:1px solid #E6E4E3;}
.hover_li>li{height:40px;text-align:center;line-height:40px;}
.hover_li>li>a{display:block;background:url(../images/menu.gif) no-repeat bottom;color:#666;font-size:13px;}
.navigator_nav_ul>li:hover ol{display:block;}
.hover_li>li>a:hover{color:red;}
#banner11{width:100%;height:400px;}
#banner11>.banner11_img{width:100%;height:100%;background:url(../images/expert.jpg) no-repeat 38% center;}
#export_by{float:left;margin-top:55px;width:100%;}
#export_by>.export_by_con{margin:0 auto;width:998px;height:100%;}
#export_by>.export_by_con>.export_by_top{margin:0 auto;width:330px;height:30px;color:red;font-size:18px;}
#export_by>.export_by_con>.export_by_top img{position:relative;top:-3px;}
#export_by>.export_by_con>.export_by_top span{font-weight:700;}
#export_by>.export_by_con>.export_by_middle{width:100%;height:auto;color:#ccc;text-align:center;font-weight:700;font-size:12px;}
#export_by>.export_by_con>.export_by_bottom{float:left;margin-top:39px;width:100%;}
#export_by>.export_by_con>.export_by_bottom .export_by_bottom1{position:relative;top:0;right:0;bottom:0;left:0;float:left;margin-top:32px;margin-left:32px;width:162px;height:216px;}
#export_by>.export_by_con>.export_by_bottom .export_by_bottom1:hover .export_by_bottom3{background:red;}
.export_by_bottom1>.export_by_bottom2{position:absolute;top:0;width:162px;height:216px;}
.export_by_bottom1>.export_by_bottom2>a{display:block;}
.export_by_bottom1>.export_by_bottom2>a img{display:block;}
.export_by_bottom1>.export_by_bottom3{position:absolute;bottom:0;width:100%;height:50px;background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);}
.export_by_bottom1>.export_by_bottom3>.export_by_bottom4{margin-top:4px;color:#fff;text-align:center;font-weight:700;font-size:13px;}
.export_by_bottom1>.export_by_bottom3>.export_by_bottom5{color:#ccc;text-align:center;font-size:13px;}
#banner1{margin-top:60px;margin-bottom:-3px;width:100%;height:364px;}
#banner1>.banner1_img{width:100%;height:100%;background:url(../images/footer.jpg) no-repeat center;}
#footer{overflow:hidden;width:100%;height:350px;background:#252525;color:gray;}
#footer>.footer_content{margin:0 auto;width:1000px;height:100%;}
#footer>.footer_content>.footer_content_top{position:relative;left:20px;padding-top:20px;width:100%;height:210px;}
#footer>.footer_conten>.footer_content_bottom{margin-left:20px;width:100%;height:80px;}
.footer_content_top>.footer_top_left{float:left;width:430px;height:100%;}
.footer_content_top>.footer_top_right{float:right;width:500px;height:100%;}
.footer_content_top>.footer_top_left>.footer_left_one{float:left;width:230px;height:100%;}
.footer_content_top>.footer_top_left>.footer_left_two{float:right;width:90px;height:100%;}
.footer_top_right>.footer_right_one{float:left;width:90px;height:100%;}
.footer_top_right>.footer_right_two{float:right;width:300px;height:100%;}
.footer_left_ul>li>a{color:gray;}
.footer_left_ul>li{margin-top:14px;font-size:13px;}
.footer_right_two>.footer_right_top{margin-top:12px;}
.footer_right_two>.footer_right_bottom{margin-top:19px;}
.footer_right_bottom>span:first-child+span{margin-left:20px;}
.footer_content_bottom{margin-top:45px;text-align:center;font-size:12px;}
